PORT=3000
MONGODB_URI=mongodb://localhost:27017/weatherguard
JWT_SECRET=5b2813f635478d985aa457a7d102b9f021a14c2bf567cb9ac5d3b9a6978e6ea6
JWT_EXPIRES_IN=604800

GITHUB_CLIENT_ID=Ov23lir2rDf5XXhdUcCE
GITHUB_CLIENT_SECRET=3e7bbb7192ce07d69482d79aae89549fa59bbedb
OAUTH_CALLBACK_URL_BASE=http://localhost:3000
FRONTEND_URL=http://localhost:5173
TELEGRAM_BOT_TOKEN=8806472515:AAEi9bI2CegcuXJQi88ZmGH-qT72n7wzKmI

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
OPENWEATHER_API_KEY=your_openweather_api_key